[Unit]
Description=Gitea git server and web ui
Wants=guix-daemon.service

[Service]
Environment="GITEA_COMMAND=$(/var/guix/profiles/per-user/efraimf/current-guix/bin/guix system container /home/efraimf/workspace/guix-bioinformatics/gn/services/gitea-container.scm --share=/var/lib/git=/var/lib/git --network)"
ExecStart=/bin/bash -c '${GITEA_COMMAND}'

[Install]
WantedBy=multi-user.target
