[Unit]
Description=Backup Gitea git server
Wants=gitea.service

[Service]
Type=oneshot
Environment="GITEA_COMMAND=/usr/local/guix-profiles/gitea/bin/gitea"
ExecStart=/bin/su -l gitea -c 'GITEA_WORK_DIR=/var/lib/git/gitea HOME=/var/lib/git/gitea ${GITEA_COMMAND} dump'

[Install]
WantedBy=multi-user.target
